name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.x"

      - name: Test
        run: go test -v -coverprofile=coverage.txt -covermode=count ./...

      - name: Codecov
        uses: codecov/codecov-action@v2.1.0

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2